#content{
height: auto;
    width: inherit;
    background-color: cornsilk;
    text-decoration-color: crimson;
}
#img1{
padding: 300px 0;
    background-image: url(images/hold.jpeg);
        background-size:cover;
    background-attachment: fixed;
}
#img2{
padding: 300px 0;
    background-image: url(images/life.jpeg);
        background-size:cover;
    background-attachment: fixed;
}
#height {
      height:"500px";
    width: 100%;
    } 
#nav{
height:100%;
    width: 100%;
}
#body
{
    position: absolute;
padding:0px;
margin:0px;
width:100%;
height:100%;
}